aniso8601==8.0.0
apispec==3.1.0
attrs==19.3.0
Click==7.0
flasgger==0.9.3
Flask==1.1.1
Flask-RESTful==0.3.7
flask-swagger==0.2.14
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==3.1.1
MarkupSafe==1.1.1
mistune==0.8.4
more-itertools==7.2.0
pkg-resources==0.0.0
pyrsistent==0.15.5
pytz==2019.3
PyYAML==5.4
six==1.13.0
Werkzeug==0.16.0
zipp==0.6.0
